@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

.hover {
    cursor: pointer;
}

.hover:hover {
    background-color: #00000009;
}

.rounded {
    border-radius: 24px;
    overflow: hidden;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.pointer {
    cursor: pointer;
}

* {
    font-family: 'Nunito', sans-serif;
}


