@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

.hover {
    cursor: pointer;
}

.hover:hover {
    background-color: #00000005;
}

* {
    font-family: 'Nunito', sans-serif;
}


